### **Join Operations in Oracle**
1. The purpose of a join is to combine the data across tables.
2. A join is actually performed by the where clause which combines the specified rows of tables
3. If a join involves in more than two tables then Oracle joins the first two tables based on the join condition and then compares the result with the next table and so on.

**All types on join operations in Oracle are:**
1. Equi-join
2. Non-Equi join
3. Self join
4. Natural join
5. Cross join
6. Outer join<br>
    a. Left outer<br>
    b. Right outer<br>
    a. Full outer<br>
7. Inner join

**Creating Table:**

drop table department;<br>
create table department (deptno number, dbname varchar2(15), loc varchar2(10));<br>
insert into department values(10, 'Inventory', 'Hyderabad');<br>
insert into department values(20, 'Finance', 'Bangalore');<br>
insert into department values(30, 'HR', 'Mumbai');<br>
insert into department values(50, 'IT', 'Delhi');<br>
select * from department;<br>

drop table employee;<br>
create table employee (empno number, ename varchar2(15), job varchar2(10), mgr number, deptno number);<br>
insert into employee values(111, 'Saketh', 'Analyst', 444, 10);<br>
insert into employee values(222, 'Sudha', 'Clerk', 333, 20);<br>
insert into employee values(333, 'Jagan', 'Manager', 111, 10);<br>
insert into employee values(444, 'Madhu', 'Engineer', 222, 40);<br>

### Equi Join
A join which contains an equal to "=" operator in the join conditions.<br>
select * from employee e, department d where e.deptno = d.deptno;

**Using clause:**<br>
select * from employee e join department d using(deptno);

**On clause:**<br>
select * from employee e join department d on(e.deptno = d.deptno);

### Non-Equi join

A join which contains an operator other than equal to '=' in the join conditions<br>
select * from employee e, department d where e.deptno > d.deptno;

### Self join

Joining the table with itself is called self join

select * from employee e1, employee e2 where e1.empno = e2.mgr;

### Natural join
Natural join compares all the common columns.

select * from employee natural join department;

The output of this query is the same as the following query:<br>
select * from employee e join department d using(deptno);

### Cross join

This will produce the cross